* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5fa;
  font-family: "Noto Kufi Arabic", sans-serif;
}

select {
  background-image: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
